*,
*::before,
*::after {
  box-sizing: border-box;
  /*для плавности перехода по якорным ссылкам задается для ввсего html через "*" */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  max-width: 1100px;
  max-height: 3028px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
