.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 99px 50px;
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    width: 100%;
    margin: auto;
    text-underline-offset: 4px;
}

.header,
.lots,
.about,
.footer {
    background-color: white;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    list-style: circle;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    padding-left: 3px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 136px;
    height: 101px;
}

.header__address {
    display: block;
    max-width: 236px;
    justify-self: end;
}


.cover {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 96px;
    position: relative;
    width: 100%;
    background: url(../images/cover.jpg) no-repeat center / cover;
    padding: 155px 50px 50px 50px;
    z-index: 0;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0 0 0 / 0.6);
}


.aligned-text {
    display: block;
    z-index: 2;
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 136%;
    text-transform: uppercase;
    padding: 0;
}

/*подгонка заголовка h1*/

.aligned-text_left {
    display: block;
    text-align: start;
    letter-spacing: 31px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    letter-spacing: 31px;
    padding-left: 35px;
}

.aligned-text_right {
    display: block;
    text-align: end;
    letter-spacing: 30px;
}

.aligned-text_right-no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.cover__description-text {
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    display: block;
    padding: 11px 31px;
    background: transparent;
    border: 1px solid red;
    border-color: white;
}

.cover__description-text-button {
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.lots {
    padding: 180px 24px 120px 24px;
    
}

.lots-heading {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    height: 596px;
    margin-bottom: 30px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 48px 40px;
}

.card__link {
    text-decoration: none;
    
}

.card__title {
    position: relative;
    z-index: 2;
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-decoration:underline;
    text-transform: uppercase;
    text-underline-offset: 3px;
}

.card__text {
    position: relative;
    z-index: 2;
    color: white;
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
}


.lots__look-more-link {
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-top: 30px;
    margin-left: 40px;
}

.about {
    padding: 35px 28px 180px 72px;
    display: grid;
    grid-template-columns: 311px auto;
}

.about__logo {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 63px 45.52px 62px 46.48px;
}

.about__column {
    display: block;
    padding-top: 100px;
    max-width: 689px;
}

.about__title {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    align-content: start;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}   

.footer {
    display: grid;
    grid-template-columns: 240px auto 240px;
    padding: 2px 50px 82px 50px;
    text-underline-offset: 4px;
}

.address {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.5px;
}

.footer__menu-list-item {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}
